<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/components/header/header.css">
</head>
<body>
  <div class="header--main-title">
    <h1 class="highlight-primary-text">DevHints</h1>
    <h2 class="highlight-secondary-text">devhints.com</h2>
  </div>
  <h3 class="highlight-info-text">Try out some of our content</h3>
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/pages/about.html">About</a></li>
    <li><a href="#">Tutorials</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="/pages/featured.html">Featured</a></li>
    <li><a target="_blank" href="//github.com/PandaSandStudio">Github</a></li>
    <li><a href="/pages/getstarted.html" class="button-small primary-button">Start Now</a></li>
  </ul>
  <div class="sidebar-button">
    <span></span>
    <span></span>
    <span></span>
  </div>
  
  <div class="navigation-sidebar">
    <aside></aside>
    <div class="sidebar-content">
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/pages/about.html">About</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="/pages/featured.html">Featured</a></li>
        <li><a target="_blank" href="//github.com/PandaSandStudio">Github</a></li>
        <li class="nav-side-button"><a href="/pages/getstarted.html"><b>Start Now</b></a></li>
      </ul>
    </div>
  </div>
  
  <script src="/components/header/header.js"></script>
</body>