.main-showcase {
  height: 700px;
  background: #0099CC;
  color: #F2F2F2;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}



.main-showcase--left {
  position: relative;
  top: 50%;
  transform: translateY(-55%);
}

.main-showcase--left h1 {
  font-weight: 600;
  font-size: 32px;
  padding-bottom: 35px;
}

.main-showcase--left h2 {
  font-weight: 500;
  padding-bottom: 60px;
}

.main-showcase--left a {
  background: transparent;
  border: 1px solid #FF8800;
}

.main-showcase img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-45%);
  min-height: 100%;
  min-width: 100%;
}






.brief-description {
  display: table;
  width: 75%;
  margin: auto;
}

.brief-description .showcase-card {
  width: 43%;
  height: 200px;
  margin-bottom: 20px;
  float: left;
}

.brief-description .showcase-card:nth-child(even) {
  float: right;
}

.brief-description .showcase-card .fa {
  padding: 0 20px 20px 0;
  float: left;
  width: 100px;
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.brief-description .showcase-card > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #777;
}

.brief-description .showcase-card > div > h3 {
  margin-bottom: 10px;
  color: #333;
}








.showcase-guide {
  display: inline-block;
  width: 100vw;
  padding: 60px 10%;
  position: relative;
  background: #F2F2F2;
}

.showcase-guide > h2 {
  color: #3B3B3B;
  text-align: center;
  padding-bottom: 35px;
}

.showcase-guide > h2 > a {
  color: #FF8800;
  cursor: pointer;
  transition: 50ms;
}

.showcase-guide > h2 > a:hover {
  color: #FF9911;
}

.showcase-guide .simple-guide-card {
  width: 30%;
  margin: 1.5%;
  float: left;
}

.showcase-guide .simple-guide-card .icon-round {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.showcase-guide .simple-guide-card .simple-guide-info {
  margin-top: 26px;
  font-size: 14px;
  text-align: center;
  color: #777;
}

.showcase-guide .simple-guide-card .simple-guide-info > h3 {
  margin-bottom: 10px;
  color: #333;
}







.start-learning-container {
  width: 100vw;
  height: 60px;
  padding: 70px 0 140px 0;
  background: #FEFEFE;
}

.start-learning-button {
  display: inline-block;
  margin: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}










@media screen and (max-width: 1000px) {
  .brief-description {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 960px) {
  .brief-description .showcase-card {
    width: 90%;
    height: 180px;
    margin-bottom: 20px;
    float: none;
  }
  
  .brief-description .showcase-card:nth-child(even) {
    float: none;
  }
  
  .brief-description .showcase-card .fa {
    height: 180px;
    line-height: 180px;
  }
  
  .showcase-guide .simple-guide-card {
    margin-bottom: 50px;
    float: none;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .start-learning-container {
    padding: 0 0 120px 0;
  }
}

@media screen and (max-width: 600px) {
  .main-showcase {
    height: 400px;
  }
  
  .main-showcase--left a {
    background: #FF8800;
    border: none;
  }
  
  .main-showcase img {
    display: none;
  }
}

@media screen and (max-width: 523px) {
  .main-showcase--left h1 {
    font-size: 25px;
    padding-bottom: 25px;
  }
  
  .main-showcase--left h2 {
    font-size: 20px;
    padding-bottom: 49px;
  }
  
  .brief-description {
    width: 100vw;
  }
  
  .brief-description .showcase-card {
    width: 96%;
    height: 200px;
  }
  
  .brief-description .showcase-card .fa {
    height: 200px;
    line-height: 200px;
  }
  
  .showcase-guide .simple-guide-card {
    margin-bottom: 50px;
    float: none;
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 340px) {
  .brief-description .showcase-card {
    width: 96%;
    height: 240px;
  }
  
  .brief-description .showcase-card .fa {
    height: 240px;
    line-height: 240px;
    font-size: 40px;
  }
}
