<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/components/footer/footer.css">
</head>
<body>
  <section class="contact-us">
    <ul>
      <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-envelope"></i></a></li>
    </ul>
  </section>
  
  <script src="/components/footer/footer.js"></script>
</body>