<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/components/about/about.css">
</head>
<body>
  <section class="simple-steps">
    <div class="main-heading-container">
      <h1>We Teach the Fundamentals of Web Development!</h1>
      <h3>Including HTML5, CSS3 and Javascript</h3>
    </div>
    <ul>
      <li>
        <img src="/assets/html5.png" alt="HTML5 Logo" style="margin-left: 6%; transform: scale(.7)">
        <div class="steps-text">
          <h2>HTML5</h2>
          <h3>We showcase a wide range of HTML5 based tutorials</h3>
          <p>HTML5 is the basis of all websites. Even this website is built around it! The language is the core of all websites and that is why we endeavour to create a large range of tutorials based on it. Our tutorials are <strong>Guarrunteed</strong> to allow you to thrive through your web development future, and the basis of that will be HTML5 Development. Why don't you start one of our tutorials today</p>
        </div>
      </li>
      
      <li>
        <img src="/assets/css3.png" alt="CSS3 Logo" class="correct" style="transform: scale(.7)">
        <div class="steps-text">
          <h2>CSS3</h2>
          <h3>Our website includes tutorials for CSS3 on all levels</h3>
          <p>Without CSS3, websites would look boring and bland. CSS adds perspective and styling to a website, and without it, you wouldn't be able to enjoy our fantastic tutorials. It is a language implemented in every website, therefore making it one of the most important out there. This means that you <strong>Must</strong> learn it today, and why not do so with one of our wonderful tutorials?!</p>
        </div>
      </li>
      
      <li>
        <img src="/assets/javascriptlogo.png" alt="Javascript Logo" style="margin-left: 5%;">
        <div class="steps-text">
          <h2>Javascript</h2>
          <h3>Our core is Javascript learning, just for you!</h3>
          <p>Javascript adds interaction to the websites you visit. It allows users to experience their websites to the best of their abilities. It adds complexity to layouts, improving the users <strong>Experience</strong>. Although it may seem like a relatively complex language, once you learn the basics, you will be on your way to a becoming a javascript master! Start with our tutorials today</p>
        </div>
      </li>
    </ul>
  </section>
  
  <section class="simple-steps">
    <div class="main-heading-container">
      <h1>There are Only 3 Simple Steps before you become a pro!</h1>
      <h3>Explore our tutorials and learn the best from the best for free</h3>
    </div>
    <ul>
      <li></li>
      
      <li>
        <img src="/assets/webshowcase.png" alt="Website Showcase">
        <div class="steps-text">
          <h2>1. Choose a Tutorial</h2>
          <h3>Our wide range of tutorials offer endless possibilities</h3>
          <p>Whatever your development skills might be, whether you are a pro or just learning the web for the first time, we are here to help. Our great tutorials offer the best of experiences for you to latch onto and grow from. We will teach you the best of tricks and will progress your development career for <strong>Free</strong>. Try one of our tutorials today to get started!</p>
        </div>
      </li>
      
      <li>
        <img src="/assets/weblearning.png" alt="Learning Webdevelopment">
        <div class="steps-text">
          <h2>2. Enjoy Learning</h2>
          <h3>After choosing a tutorial, it is that easy to learn!</h3>
          <p>Choose the course of your liking, then enjoy learning the vast topics covered under each of our extravagent tutorials. You are not only going to learn more than you could have ever hoped, but before you know it, you will become an <strong>Expert</strong>. Enjoy learning with our unique website, made just for you. It's so easy, you'll be wondering why you didn't start years ago</p>
        </div>
      </li>
      
      <li>
        <img src="/assets/htmlcssjslogo.png" alt="Learning Webdevelopment">
        <div class="steps-text">
          <h2>3. Become an Expert</h2>
          <h3>Our tutorials teach you the best, and only the best</h3>
          <p>Not only are our tutorials that easy, but they also teach the best of lessons made just for you. Just try one, and you will see what we mean. We put <strong>Enormous</strong> amounts of effort for each individual course and tutorial on our website, all because we want to aid your web development career. Come with us on the journey of your lifetime, and before long, you will be the coding it all!</p>
        </div>
      </li>
    </ul>
  </section>
  
  <script src="/components/about/about.js"></script>
</body>